/* Alle css dat alleen op de avatar pagina gaat */

.avatar-select-container {
  display: flex;
  justify-content: center;
  place-content: space-evenly;
  flex-wrap: wrap;
}

.avatar-select-item > img:hover  {
  transform: scale(1.1);
}

.avatar-select-item > button {
  z-index: 100;
}