/* Alle css dat alleen op de favoriete pagina gaat */
.fortniteObjects{
  text-align: center;
}


#win:hover {
  background-color: lightgreen;
}

#loss:hover {
  background-color: red;
}

input {
  cursor: pointer;
  font-size: 16px;
}

.popup{
  text-align: center;
  width: 700px;
  height: 355px;
  margin-top: 60px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  color: green;
  background-color: white;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}

.popup button{
  margin-top: 50px;
  padding: 5px 5px 5px 5px;
  background-color: rgb(46, 207, 46);
}