/* Alle css dat alleen op de avatar pagina gaat */
#favorite-select-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 3%;
}

.card {
  background: linear-gradient(90deg, rgba(39,48,124,1) 100%, rgba(0,11,104,1) 100%);
  margin: 5px 20px;
}

.favorite-select-item>img:hover {
  transform: scale(1.1);
}

.favorite-select-item > button {
  align-items: center;
}