/* Alle css dat alleen op ALLE paginas gaat */

body, footer {
  background: linear-gradient(90deg, rgba(13, 112, 255, 1) 0%, rgba(33, 41, 151, 1) 100%);
}

figcaption {
  color: #fff;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003791;
  color: #fff;
  padding: 10px;
  min-height: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 0px;
}

section {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 50px;
  text-align: center;
  background-color: #ddd;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nogamepage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  padding: 50px;
  min-height: 400px;

}

.games {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  height: 400px;
  overflow: hidden;
}

.games img {
  height: 300px;
  margin: 0 50px;
  background-color: #fff;
  object-fit: cover;
  border: 2px solid #0072c6;
  transition: transform 0.2s ease-in-out;
  border-radius: 10px;
}

section {
  justify-content: center;
}

button {
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
  font-weight: bold;
}

#avatar-container>img {
  border-radius: 50%;
  height: 60px;
  margin-left: 10px;
}