<!DOCTYPE html>
<html lang="nl-BE">

<head>
  <%- include('../partials/head.ejs') %>
  <script defer src="./js/login.js"></script>
  <link rel="stylesheet" href="./css/login.css" />
</head>

<body>
  <header>
    <img src="/assets/logo.png" alt="Fortnite Logo" />
    <%- include('../partials/nav.ejs') %>
  </header>
  <h1>Blacklist pagina</h1>
  <!-- footer -->
  <%- include('../partials/foot.ejs') %>
  <script defer src="./js/functies/modal.js"></script>
</body>

</html>