<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="./css/blacklist.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <header>
        <img src="/assets/logo.png" alt="Fortnite Logo" />
        <%- include('../partials/nav.ejs') %>
    </header>
    <!-- De Login form, action moet mss nog uitgewerkt worden -->
    <main>

        <h1>Blacklisted avatars</h1>
        <p id="h1">Hier vind je de blacklisted avatars terug</p>
            </tbody>
          </table>
          
        
        <form>
        <div class="form-group">
            <label>Naam: </label>
            <input type="text" name="Naam" class="form-controle" value="avatar" required="">
        </div>
        <div class="form-group">
            <label>Reden: </label>
            <input type="text" name="reden" class="form-controle" value="reden" required="">
        </div>
        <button type="submit" class="submitbtn">submit</button>
        </form><br>
        <table class="table">
            <thead>
                <th>Naam</th>
                <th>avatar</th>
                <th>Reden</th>
                <th>Actie</th>
            </thead>
            <tbody>
                <tr>
                <td>naam</td>
                <td>avatar</td>
                <td>reden</td>
                <td><button type="button" class="btn btn-danger">Verwijder</button> <button type="button" class="btn btn-primary">Edit</button></td>
            </tr>
            <tr>
                <td>naam</td>
                <td>avatar</td>
                <td>reden</td>
                <td><button type="button" class="btn btn-danger">Verwijder</button> <button type="button" class="btn btn-primary">Edit</button></td>
            </tr>
        </table>

    </main>

    <%- include('../partials/foot.ejs') %>
        <script defer src="./js/blacklisted.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
     <script>
      //deletebtn//
        document.addEventListener('DOMContentLoaded', function() {
  var deleteButtons = document.getElementsByClassName('btn btn-danger');
  
  for (var i = 0; i < deleteButtons.length; i++) {
    deleteButtons[i].addEventListener('click', function() {
      var row = this.parentNode.parentNode;
      
      row.parentNode.removeChild(row);
    });
  }
});

//editbtn//

document.addEventListener('DOMContentLoaded', function() {
  var editButtons = document.getElementsByClassName('edit-button');
  
  for (var i = 0; i < editButtons.length; i++) {
    editButtons[i].addEventListener('click', function() {
      var row = this.parentNode.parentNode;
      
      var itemValue = row.cells[0].innerHTML;
      
      var updatedItemValue = prompt('Enter updated item value:', itemValue);
      
      row.cells[0].innerHTML = updatedItemValue;
    });
  }
});

    </script>

</body>

</html>