<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <%- include('../partials/head.ejs') %>
        <script defer src="./js/blacklisted.js"></script>
        <link rel="stylesheet" href="./css/login.css" />

        <%  %>
</head>

<body>
  <header>
    <%- include('../partials/nav.ejs') %>
  </header>
  <h1>Blacklist pagina</h1>


  <!-- display the blacklist items -->

  <ul>
    <% for (var i = 0; i < theBlackList.length; i++) { %>
      <li><%= theBlackList[i] %></li>
    <% } %>
  </ul>


  <!-- footer -->
  <%- include('../partials/foot.ejs') %>
  <script defer src="./js/functies/modal.js"></script>
</body>

</html>