<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="./css/favoriete.css">
  </head>
  <body>
    <header>
      <img src="/assets/bottomgs.png" alt="Fortnite Logo" />
      <%- include('../partials/nav.ejs') %>
    </header>
    <main>
      <h1>Welcome this is your avatar</h1>
      <% for (let i = 1; i < 2; i++) { %>
        <div class="fortniteObjects">
          <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Fortnite_F_lettermark_logo.png" alt="fortnite" width="100px">
          <button class="btn btn-secondary"
          onclick="count()">Wins: 0</button>
          <button class="btn btn-danger">Loss: 0</button>
        </div>
      <section>  
        <form>
          <textarea name="comments" cols="30" rows="5" placeholder="Enter your comments"></textarea>
        </form>
        
        <button type="button" class="btn btn-success" onclick="openPopup()">Verzenden</button>
      </section>

      
      <div class="popup" id="popup">
        <h2>Verzonden!</h2>
        <p>Uw comment werd succesvol verzonden, bedankt!</p>
        <button type="button" class="btn btn-success" onclick="closePopup()">Ok</button>
      </div>

        <% } %>
    </main>
    <%- include('../partials/foot.ejs') %>
    <script defer src="./js/favoriete.js"></script>
  </body>
</html>
