<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css"/>
    <script src="./js/avatar.js"></script>
</head>
<body>
    <header>
        <img src="/assets/logo.png" alt="PlayStation 4 Logo" />
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Games</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
      </nav>
    </header>
    <main> 
        <h1>Welcome this is your avatar</h1>
        <section id="submit">
        <img src="./assets/logo.png" alt="" height="100" width="100">
        <button id="win" type="submit" value="submit">win</button>
        <button id="loss" type="submit" value="submit">loss</button>
        <form>
            <textarea name="comments"  cols="30" rows="10" placeholder="Enter your comments"></textarea>
        </form>
        <input type="submit" value="submit">
    </section> 
           
    </main>
    <footer>
        <p>&copy; 2023 PlayStation</p>
    </footer>
    
</body>
</html>