<!DOCTYPE html>
<html lang="nl-BE">

<head>
  <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="./css/favorite.css">
    <script src="./js/fetch/fetchCosmetic.js"></script>
    <script src="./js/functies/popup.js"></script>
    <script src="./js/functies/modal.js"></script>

    <script defer src="./js/favorite.js"></script>
</head>

<body>
  <header>
    <img src="/assets/logo.png" alt="Fortnite Logo" height="40px" />
    <%- include('../partials/nav.ejs') %>
  </header>
  <main>
    <h1>Jouw favoriete charaters</h1>
    <div id="favorite-select-container">
      <% if (items.length <= 0) { %>
        <p class="text-light">Je hebt nog geen favorieten gekozen.</p>
      <% } else { %>
        <% for (let i=0; i < items.length; i++) { %>
          <div data-fortnite-character-id="<%- items[i].fortnite_id %>"></div>
        <% } %>
      <% } %>
    </div>
  </main>
  <div id="modal"></div>
  <%- include('../partials/foot.ejs') %>
</body>

</html>