<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>
    <script defer src="./js/landing-page.js"></script>
    <link rel="stylesheet" href="./css/home.css" />
  </head>
  <body>
    <header>
      <section>
        <h1>Welcome</h1>
        <p>Select an option from the navigation menu</p>
      </section>
      <%- include('../partials/nav.ejs') %>
    </header>
    <main>
      <!-- De Login form, action moet mss nog uitgewerkt worden -->
      <div class="form-popup" id="loginForm">
        <form action="/api/login" method="post" class="form-container">
          <h1>Login</h1>
          <p>You have to be logged in before selecting a game...</p>

          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required />

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required />

          <button type="submit" class="btn">Login</button>
        </form>
      </div>

      <section class="games">
        <figure id="mtg">
          <a href="/nogame"><img class="game" src="/assets/mtg.jpg" ref /></a>
          <figcaption>Magic The Gathering</figcaption>
        </figure>
        <figure id="pokemon">
          <a href="/nogame"><img class="game" src="/assets/pokemon.jpg" /></a>
          <figcaption>Pokemon</figcaption>
        </figure>

        <figure id="nbb">
          <a href="/nogame"><img class="game" src="/assets/nbb.jpg" /></a>
          <figcaption>NBB</figcaption>
        </figure>

        <figure id="lotr">
          <a href="/nogame"><img class="game" src="/assets/lotr.jpg" /></a>
          <figcaption>LOTR</figcaption>
        </figure>

        <figure id="fortnite">
          <a href="/avatar"><img class="game" src="/assets/fortnite.jpg" /></a>
          <figcaption>Fortnite</figcaption>
        </figure>

        <figure id="legomasters">
          <a href="/nogame"><img class="game" src="/assets/legomasters.jpg" /></a>
          <figcaption>Legomasters</figcaption>
        </figure>

        <figure id="fifa">
          <a href="/nogame"><img class="game" src="/assets/fifa.jpg" /></a>
          <figcaption>Fifa</figcaption>
        </figure>
      </section>
    </main>
    <%- include('../partials/foot.ejs') %>
  </body>
</html>
