<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>PlayStation 4 UI</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./avatar.js"></script>
  </head>
  <body>
    <header>

      <section>
        <h1>Welcome to PlayStation 4</h1>
        <p>Select an option from the navigation menu above</p>
      </section>
      <nav>
        
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Games</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="games">
        <figure id="mtg">
          <a href="./test.ejs"><img src="/assets/mtg.jpg" ref></a>
          <figcaption>Magic The Gathering</figcaption>
        </figure>

        <figure id="pokemon">
          <a href="./test"><img src="/assets/pokemon.jpg"></a>
          <figcaption>Pokemon</figcaption>
        </figure>

        <figure id="nbb">
          <img src="/assets/nbb.jpg">
          <figcaption>NBB</figcaption>
        </figure>

        <figure id="lotr">
          <img src="/assets/lotr.jpg">
          <figcaption>LOTR</figcaption>
        </figure>

        <figure id="fortnite">
          <img src="/assets/fortnite.jpg">
          <figcaption>Fortnite</figcaption>
          <a href="test.ejs"></a>
        </figure>

        <figure id="legomasters">
          <img src="/assets/legomasters.jpg">
          <figcaption>Legomasters</figcaption>
        </figure>

        <figure id="fifa">
          <img src="/assets/fifa.jpg">
          <figcaption>Fifa</figcaption>
        </figure>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 PlayStation</p>
    </footer>
    <script src="./js/landing-page.js"></script>
  </body>
</html>
