<!DOCTYPE html>
<html lang="nl-BE">

<head>
  <%- include('../partials/head.ejs') %>
  <script defer src="./js/login.js"></script>
  <link rel="stylesheet" href="./css/login.css" />
</head>

<body>
  <header>
    <img src="/assets/logo.png" alt="Fortnite Logo" />
    <%- include('../partials/nav.ejs') %>
  </header>
  <!-- De Login form, action moet mss nog uitgewerkt worden -->
  <div class="form-container">
    <form class="login-form">
      <h1>Login</h1>
      <p>You have to be logged in before selecting a game...</p>

      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" id="username-login" required />

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="password-login" required />

      <button type="submit" class="btn">Login</button>
    </form>
  </div>
  <!-- footer -->
  <%- include('../partials/foot.ejs') %>
  <script defer src="./js/functies/modal.js"></script>
</body>

</html>