<!DOCTYPE html>
<html lang="nl-BE">

<head>
  <%- include('../partials/head.ejs') %>
    <script defer src="./js/login.js"></script>
    <link rel="stylesheet" href="./css/login.css" />
</head>

<body>
  <header>
    <img src="/assets/logo.png" alt="Fortnite Logo" height="40px" />
  </header>
  <section>
    <div class="form-container">
      <form class="login-form">
        <h1>Login</h1>
        <p>Je moet ingelogd zijn om een game te selecteren...</p>
        <p>Heb je nog geen account? Je kan gratis een account maken via deze <a href="/register">link</a></p>
        <p id="error-message" class="text-danger text-center"></p>

        <label for="username"><b>Gebruikersnaam</b></label>
        <input type="text" placeholder="Je gebruikersnaam" name="username" id="username-login" autocomplete="username" required />

        <label for="psw"><b>Wachtwoord</b></label>
        <input type="password" placeholder="Je wachtwoord" name="psw" id="password-login"
          autocomplete="current-password" required />

        <button type="submit" class="btn">Login</button>
      </form>
    </div>
  </section>
  <!-- footer -->
  <%- include('../partials/foot.ejs') %>
    <script defer src="./js/functies/modal.js"></script>
</body>

</html>