<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <header>
      <h1>Sorry, je kan hier niet aan deelnemen, de game werd niet gevonden...</h1>
    </header>
    <%- include('../partials/foot.ejs') %>
  </body>
</html>
