<!DOCTYPE html>
<html lang="nl-BE">

<head>
  <%- include('../partials/head.ejs') %>
    <script defer src="./js/register.js"></script>
    <link rel="stylesheet" href="./css/login.css" />
</head>

<body>
  <header>
    <img src="/assets/logo.png" alt="Fortnite Logo" height="40px" />
  </header>
  <div class="form-container">
    <form class="register-form text-center">
      <h1>Maak een account aan</h1>
      <p id="error-message" class="text-danger text-center"></p>


      <p>Gebruik een unieke gebruikersnaam en wachtwoord</p>
      <label for="username"><b>Gebruikersnaam</b></label>
      <input type="text" placeholder="Gebruik een unieke gebruikersnaam" name="username" id="username-register" required />

      <label for="password"><b>Wachtwoord</b></label>
      <input type="password" name="password" id="password-register" placeholder="Gebruik een unieke wachtwoord" required />

      <label for="password-confirm"><b>Bevestig wachtwoord</b></label>
      <input type="password" name="password-confirm" id="password-confirm-register" placeholder="Bevestig je wachtwoord"
        required />

      <button type="submit" class="btn">Registreer</button>
      <p class="text-center">Heb je al een account? Je kan inloggen via deze <a href="/login">link</a></p>
    </form>
  </div>
  <!-- footer -->
  <%- include('../partials/foot.ejs') %>
    <script defer src="./js/functies/modal.js"></script>
</body>

</html>