<nav>
  <ul>

    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/avatar">Avatar</a>
    </li>
    <li>
      <a href="/favoriete">Favoriete</a>
    </li>
    <li>
      <a href="/blacklist">Blacklisted</a>
    </li>
    <li>
      <div id="logout-button">
        <a href="#">Log out</a>
      </div>
      
    </li>
    <li>
      <div id="avatar-container" />
    </li>
  </ul>
</nav>