<nav>
  <ul style="align-items: center;">
    <li>
      <a href="/">Start</a>
    </li>
    <li>
      <a href="/avatar">Avatar</a>
    </li>
    <li>
      <a href="/favorite">Favoriet</a>
    </li>
    <li>
      <a href="/blacklist">Blacklist</a>
    </li>
    <li>
        <a id="logout-button" href="#">Uitloggen</a>
    </li>
    <li>
      <div id="avatar-container" />
    </li>
  </ul>
</nav>