<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/avatar">Avatar</a>
    </li>
    <li>
      <a href="/favorite">favorite</a>
    </li>
    <li>
      <a href="/blacklist">Blacklisted</a>
    </li>
    <li>
        <a id="logout-button" href="#">Log out</a>
    </li>
    <li>
      <div id="avatar-container" />
    </li>
  </ul>
</nav>